@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #2b88f0;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h3 {
    color: #fff;
    margin: 10px 0 20px;
    text-align: center;
}

.paragraph {

    color: #fff;
}

.container {
    width: 500px;
}

textarea {
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
    resize: none;
}

textarea:focus {
    outline: none;
}

.tag {
    background-color: #f0932b;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
}


#clear-content {
    background-color: #274c79;
    border-radius: 10px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 25px;
    text-decoration: none;
    margin-left: 15px;
}

#clear-content:hover {
    background-color: #274c89
}


.tag.highlight {
    background-color: #273c75;
}

.form-group {
    position: relative;
}

.reset {
    cursor: pointer;
    position: absolute;
    color: black;
    right: 10px;
    top: 5px;
    font-size: 1.2rem;
    font-weight: bold;

}

.tooltip {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left: 42px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}